
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #B6EEF0;
    margin: 0;
    padding: 0;
}


header, footer {
    background-color: #0728F6;
    color: white;
    text-align: center;
    padding: 15px;
}


main {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.ficha {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
}
