
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


header h1 {
    text-align: center;
    margin-top: 20px;
}


.contenedor-principal {
    margin: 0 20%;
    padding: 10px 0 30px 0;
}


.menu-planes {
    background-color: blue;
    border-radius: 10px;
    margin: 15px 0 25px 0;
}

.menu-planes ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;                 
    justify-content: space-around;
}

.menu-planes li {
    flex: 1;
    text-align: center;
    padding: 10px 0;
    color: white;
    font-weight: bold;
}


.grid-ofertas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);   
    gap: 20px;
}


.tarjeta {
    border: 1px solid blue;
    border-radius: 10px;
    padding: 25px 20px;
    text-align: center;
    background-color: white;
}


.precio {
    margin-top: 15px;
    font-weight: bold;
    color: blue;
}


.promo {
    grid-column: 1 / 4;            
    background-color: blue;
    color: white;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 0.9rem;
}
