/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* HEADER */
header {
    background-color: #84250C;
    color: white;
    padding: 15px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

header nav a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
    font-weight: bold;
}

/* MAIN */
main {
    margin-top: 150px;
    margin-left: 20%;
    margin-right: 20%;
}

/* TARJETA FLEX */
.contenedor {
    margin-top: 30px;
    padding: 30px;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 8px;

    display: flex;
    gap: 60px;
}

/* Columna izquierda */
.oferta {
    width: 60%;
}

/* Columna derecha */
.novedades {
    width: 40%;
}

/* FOOTER */
footer {
    background-color: #84250C;
    color: white;
    text-align: center;
    padding: 10px;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
